@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

* {
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

body {
  display: grid;
  grid-template: 1fr auto 1fr / 1fr auto 1fr;
  place-items: stretch;
  place-content: stretch;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}

main {
  grid-area: 2 / 2;
  display: grid;
  grid-template: 78.54px 30px repeat(5, 48.54px) / repeat(4, 48.54px);
  place-items: stretch;
  place-content: stretch;
  grid-gap: 8px;
  background-color: #333;
  border: 16px solid #333;
  border-radius: 12px;
}

button{
  border-radius: 5px;
  border: none;
  font-size: 22.65px;
  color: #eee;
}
  button:active{
    opacity: .8;
  }

#digit0{
  grid-area: 7 / 1;
}

#digit1{
  grid-area: 6 / 1;
}

#digit2{
  grid-area: 6 / 2;
}

#digit3{
  grid-area: 6 / 3;
}

#digit4{
  grid-area: 5 / 1;
}

#digit5{
  grid-area: 5 / 2;
}

#digit6{
  grid-area: 5 / 3;
}

#digit7{
  grid-area: 4 / 1;
}

#digit8{
  grid-area: 4 / 2;
}

#digit9{
  grid-area: 4 / 3;
}

#colon{
  grid-area: 7 / 2;
}

#add{
  grid-area: 5 / 4;
}

#substract{
  grid-area: 4 / 4;
}

#multiply{
  grid-area: 3 / 4;
}

#divide{
  grid-area: 3 / 3;
}

#equal{
  grid-area: 6 / 4 / span 2 / span 1;
  background-color: #ff3800;
}

#percent{
  grid-area: 3 / 2;
}

#clear{
  grid-area: 3 / 1;
}

#sign{
  grid-area: 7 / 3;
}

.digit-touch{
  background-color: #999;
}

.operation-touch{
  background-color: #222;
}

#screen-input{
  grid-area: 1 / 1 / span 1 / span 4;
  font-size: 39.6px;
  color: #444;
  background-color: #fff;
  border-radius: 3px 3px 0 0;
}

#screen-operation{
  grid-area: 2 / 1 / span 1 / span 4;
  font-size: 14px;
  color: #666;
  background-color: #ddd;
  margin: -8px 0 8px 0;
  border-radius: 0 0 3px 3px;
}

.screen{
  font-family: 'Nanum Gothic Coding', monospace;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
}
